.search {
  border: 1px solid #ccc;
}

.full {
  height: 100%;
}

.input {
  width: 70%;
}

main {
  position: relative;
  top: 100px;
  left: 50px;
}

.leftBar {
  background-color: rgb(232, 232, 232);
  padding: 10px;
}

.fiveCard {
  padding: 0;
  margin: 0;
}

.fiveDay {
  border: 0;
  border-right: 1px solid rgb(232, 232, 232);
  display: inline;
  text-align: center;
}

.card {
  width: 200px;
  border: none;
}

.weatherIcon {
  height: 60px;
  width: 60px;
}

#description {
  font-weight: bold;
}

h2 {
  margin-left: 20px;
}

.current {
  width: 80%;
}

#uvIndex {
  width: 4px;
  height: 4px;
  background-color: red'
}

.histCard {
  width: 90%;
  margin: 20px;
}

#weatherIcon1, #weatherIcon2, #weatherIcon3, #weatherIcon4{
height: 75px;
}
.maxMin {
  font-size: 12px;
  margin-bottom: 0;
}

h2 {
  font-size: 40px;
  text-align: center;
}